.navbar {
  display: flex;
  padding: 1.1rem 1.66rem;
  gap: 1.66rem;
  width: 100%;
  border-bottom: 1px solid var(--gray);
}

.brand {
  font-size: 39px;
  display: flex;
  align-items: center;
  gap: 1.33rem;
  margin-right: auto;
}

.navLogo {
  height: 4rem;
  width: 4rem;
}

.navLogo img {
  width: 100%;
  height: 100%;
}

.brand h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    height: 2.5rem;
}

.navLinks {
  display: flex;
  gap: 4rem;
  list-style: none;
  font-size: 2.4rem;
  font-family: var(--font-oswald);
}
